<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Cocuyo</string>
    <key>CFBundleDisplayName</key>
    <string>Cocuyo</string>
    <key>CFBundleIdentifier</key>
    <string>com.jorgeajimenezl.cocuyo</string>
    <key>CFBundleVersion</key>
    <string>${VERSION}</string>
    <key>CFBundleShortVersionString</key>
    <string>${VERSION}</string>
    <key>CFBundleExecutable</key>
    <string>cocuyo</string>
    <key>CFBundleIconFile</key>
    <string>cocuyo</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Cocuyo needs screen capture access to provide ambient lighting from your display.</string>
</dict>
</plist>
